body{
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.square{
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
  border-radius: 50%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  /*1st arg: the background of this selector; 2nd: time it takes*/
}
.square:hover{
  transform: scale(1.10);
  -moz-transform: scale(1.10);
  -webkit-transform: scale(1.10);
}

.container{
  margin: 20px auto;
  max-width: 500px;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

#message {
  display: inline-block;
  width: 20%;
}

h1 {
  color: white;
  text-align: center;
  background: MediumSeaGreen;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0
}

#colourDisplay {
  font-size: 200%
}

.selected {
  color: white;
  background: MediumSeaGreen;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: MediumSeaGreen;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  /*1st arg: what you want CSS to animate; 2nd: how long you want it to take (s = seconds)*/
  /*In this case, the transition is referring to the hover effect*/
  outline: none; /*This gets rid of the blue outline that the browser itself creates*/
}
button:hover {
  color: white;
  background: MediumSeaGreen;
}


@media (max-width: 418px) { 
  #message {
    display: none;
  }
}